@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
* {
    font-family: 'Gowun Dodum', sans-serif;
    padding: 0;
    margin: 0;
}

.title {
    text-align: center;
    font-family: 'Gowun Dodum', sans-serif;
}