<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--cdn import-->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://kit.fontawesome.com/4f26a61ef8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}"
</head>
<body>
    <div class="container">
        <div class="title">
            Admin Panel
        </div>
    <div class="admin-box">
        <div class="adminbox_input">
            <div class="subtitle_1">
                <div class="admin_account_gen_title">ADMIN 계정 생성</div>
                <div>
                    <form method="post" action="admin/TokenGen">
                        <label for="ID">
                            ID입력
                            <input type="text" id="id" name="id" placeholder="ID input Here" required>
                        </label>
                        <label for="iD">
                            PW입력
                            <input type="text" id="pw" name="pw" placeholder="PW input Here" required>
                        </label>
                        <input type="submit" id="submit" value="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
    function check_session(){
      if ("{{session['id']}}" == 'admin') {
        location.replace("/login");
      } else {
        console.log("check")
      }
    };

    $(document).ready(function() {
        check_session();
    });

    </script>
</body>
</html>