<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saesol-API 문서</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/docs.css')}}">
</head>
<body>
    <div class="background">
        <h1 class="maintitle">Saesol-API DOCS</h1>
        <div class="code-con">
            <h1 class="title">
                급식 API
            </h1>
            <div class="info">
                <div class="code-box">
                    wax05.xyz/api/geb/＜DATE＞<br>EX)<a href="geb/20221027">wax05.xyz/api/geb/20221027</a><br>
                    2022년 10월 27일 새솔고등학교 점심식단
                </div>
                <a href="https://open.neis.go.kr/portal/data/service/selectServicePage.do?page=1&rows=10&sortColumn=&sortDirection=&infId=OPEN17320190722180924242823&infSeq=2" id="API_LINK">
                    원본 API
                </a>
                <br>RESPONSE_TYPE : JSON ARRAY
            </div>
        </div>
        <div class="code-con">
            <h1 class="title">
                학교 정보 API
            </h1>
            <div class="info">
                <div class="code-box">
                    wax05.xyz/api/schinfo/＜SCHOOL_NAME＞<br>EX)<a href="schinfo/새솔고등학교">wax05.xyz/api/schinfo/새솔고등학교</a><br>
                    새솔고등학교 학교 정보
                </div>
                <a href="https://open.neis.go.kr/portal/data/service/selectServicePage.do?page=1&rows=10&sortColumn=&sortDirection=&infId=OPEN17020190531110010104913&infSeq=2" id="API_LINK">
                    원본 API
                </a>
                <br>RESPONSE_TYPE : JSON OBJECT
                <br><strong>OBJECT KEY:VALUE 값은 위 원본 API문서를 봐주세요</strong>
            </div>
        </div>
        <div class="code-con" id="last">
            <h1 class="title">
                학교 시간 API
            </h1>
            <div class="info">
                <div class="code-box">
                    wax05.xyz/api/time/＜GRADE＞/＜CLASS＞/＜DATE＞<br>EX)<a href="time/1/1/20221027">wax05.xyz/api/time/1/1/20221027</a><br>
                    2022년 10월 27일 새솔고등학교 1학년 1반 시간표
                </div>
                <a href="https://open.neis.go.kr/portal/data/service/selectServicePage.do?page=1&rows=10&sortColumn=&sortDirection=&infId=OPEN18620200826103326268120&infSeq=2" id="API_LINK">
                    원본 API
                </a>
                <br>RESPONSE_TYPE : JSON ARRAY<br>INDEX[0] = 1교시<br><strong>!주의!선택과목 시간은 반영되지 않습니다</strong>
            </div>
        </div>
    </div>
</body>
</html>