<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>로그인페이지</title>
  <!--cdn import-->
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://kit.fontawesome.com/4f26a61ef8.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="http:code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="{{url_for('static', filename='js/login.js')}}"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
</head>
<body>
  <!-- partial:index.partial.html -->
  <div id="login-form-wrap">
    <h2>Login</h2>
      <p>
      <input type="text" id="user_id" name="user_id" class="user_input"placeholder="Username" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
      <input type="password" id="password" name="password" class="user_input"placeholder="Password" required><i class="validation"><span></span><span></span></i>
      </p>
      <p id="login_false">

      </p>
      <p>
      <input type="submit" id="login" value="Login">
      </p>
    <div id="create-account-wrap">
      <p>회원이 아니신가요? <a href="/account">계정만들기</a><p>
    </div><!--create-account-wrap-->
  </div><!--login-form-wrap-->
  <!-- partial -->
</body>
</html>
