<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainpage</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
        * {
            font-family: 'Gowun Dodum', sans-serif;
        }
        .con {
            text-align: center;;
        }
        .btn {
            width: 450px;
            height: 380px;
            border: black solid 0.5px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="con">
        <h1>
            This is mainpage
        </h1>
        <div class="info">
            <div>
                content SOON<br>
                메인페이지 만들거임
            </div>
            <a href="/login">로그인페이지</a>
        </div>
    </div>
</body>
</html>