<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainpage</title>
    <!--cdn import-->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://kit.fontawesome.com/4f26a61ef8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/mainpage.css')}}">
</head>
<body>
    <div class="con">
        <h1>
            This is mainpage
        </h1>
        <div class="info">
            <div>
                content SOON<br>
                메인페이지 만들거임
            </div>
            <a href="/notifi/login">로그인페이지</a>
            <a htrf="/notifi/user">유저페이지</a>
        </div>
    </div>
</body>
</html>