<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>ID찾기</title>
</head>
<body>
    <div class="con">
        <div class="title">
            ID찾기
        </div>
        <div class="input_box">
            아이디를 입력해주세요<br>
            <input type="input" id="id" placeholder="ID를 입력해주세요"><br>
            <input type="submit" id="confirm" value="확인">
        </div>
        <div id="status">
        </div>
    </div>
    <script>
        $("#confirm").click(()=>{
            var id = $("#id").val();
            const postdata = {
              "id":id  
            };
            $.ajax({
                type: 'POST',
                url: '/notifi/search/pw',
                data: JSON.stringify(postdata),
                dataType : 'JSON',
                contentType: "application/json",
                success: function(data){
                    console.log(data);
                },
                error: function(request, status, error){
                alert('에러가 발생했습니다')
                }
            });
            console.log(id)
        });
    </script>
</body>
</html>