<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>컨트롤보드</title>
    <!--cdn import-->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://kit.fontawesome.com/4f26a61ef8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
        * {
            font-family: 'Gowun Dodum', sans-serif;
        }
        .con {
            text-align: center;;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>
            This is userpage
        </h1>
        <div class="info">
            <div>
                hello! your id is {{user_id}}
            </div>
            <div>
                <a class="link_btn" href="/user/notifi">공지페이지</a>
                <a class="link_btn" href="/user/setting">유저설정</a>
                <input type="button" id="user_notifi_btn"value="user_notifi_btn" class ="btn">
                <input type="button" id="user_setting_btn"value="user_setting_btn" class ="btn">
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            console.log("{{session['id']}}")
        });

        $("#user_notifi_btn").click(function() {
            location.replace('/user/notifi')
        });

        $("#user_setting_btn").click(function() {
            location.replace('/user/setting')
        });
    </script>
</body>
</html>